---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Logomark from '../components/Logomark.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

const chapters = [
  {
    link: '/chapter/facebook',
    title: 'Facebook',
    tag: 'Employment'
  }
]
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="antialiased bg-[#151E21] text-white">
    <Header title={SITE_TITLE} />
    <main class="px-6 py-32 lg:px-8 font-serif">
      <div class="mx-auto max-w-xl text-base leading-7">
        <h1 class="w-12 py-8"><Logomark /></h1>
        <p>
          <strong>My name is Bryan Veloso, and these are my memoirs.</strong>
        </p>

        <h3 class="font-sans">FOREWARD</h3>
        <p></p>

        <ul>
          <li>Employment: Facebook</li>
          <li>Interlude: Apple</li>
          <li>Employment: Automattic</li>
          <li>Employment: GitHub</li>
          <li>Employment: Twitch</li>
          <li>Entureprenurship: Twitch</li>
          <li>Entureprenurship: Altair</li>
          <li>Employment: VShojo</li>
        </ul>

        <p class="mt-8 pt-2 text-sm border-t-white border-t-2">
          Looking for more? Check out my long-time personal site, <a
            href="https://avalonstar.com">avalonstar.com</a
          >, or my current workplace, <a href="https://vshojo.com">vshojo.com</a
          >.
        </p>
      </div>
    </main>
  </body>
</html>
